body {
  background: #0f172a;
  color: #fff;
  font-family: Arial, sans-serif;
}

.app-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 30px;

}

textarea {
  width: 100%;
  height: 220px;
  padding: 10px;
  font-size: 14px;
  margin-bottom: 10px;
}

button {
  background: #22c55e;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 10px;
}

.download {
  background: #38bdf8;
}

pre {
  background: #020617;
  padding: 15px;
  max-height: 300px;
  overflow-y: auto;
  white-space: pre-wrap;
}